.stat-section-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 1rem;
  color: #373636;

  .chart-container {
    width: 100%;
    min-height: 400px;
  }

  h4 {
    margin-bottom: 1rem;
  }
}
